<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
            <a 
        class="btn btn-primary"
        style="margin-bottom: 10xp; margin-top: 10xp; color: azure"
        th:href="@{/division/form}"
        >CREATE NEW</a>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Region Name</th>
                <th>ACTION</th>
            </tr>
            <tbody>
                <tr th:each="x : ${division}">
                    <td th:text="${x.Id}"></td>
                    <td th:text="${x.Name}"></td>
                    <td th:text="${x.getregion().getName()}"></td>

                    <td><a th:href="@{/division/form/{Id} (Id=${x.Id})}">Edit</a>
                    <a th:href="@{/division/delete/{Id} (Id=${x.getId()})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <tr th:each="x : ${dataselect}">
        <td>
            <p><span th:text="${x.getDivisionId()}"></span></p>
            <p><span th:text="${x.getDivisionName()}"></span></p>
            <p><span th:text="${x.getregionId()}"></span></p>
        </td>
    </tr> -->
</body>
</html>